DATABASE_URL="file:../pulsiia.db"
JWT_SECRET="change-me-to-a-random-64-char-secret-in-production"
JWT_REFRESH_SECRET="change-me-to-another-random-64-char-secret"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
PORT=3001
NODE_ENV="development"
FRONTEND_URL="http://localhost:3001"
